
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Yanone Kaffeesatz';
}
.container .navbar-brand{
    font-size: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.container .navbar-brand:hover{
    color: white;
}


.carousel-item{
    height: 100vh;
    min-height: auto;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-caption{
    bottom: 100px;
}
.carousel-caption img{
    padding-top: 0px;
    height: 300px;
}

.carousel-caption h5 {
    font-size: 50px;
}

.carousel-caption span{
    background-color: rgb(255, 166, 0);
}

.nav-item .nav-link{
    color: white !important;
    margin-right: 50px;
    font-size: 20px;
}

.propuesta{
    width: 100%;
    height: 600px;
    background-image: url('../img/foto2@2x.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 50px;
}

.propuesta-description{
    width: 80%;
    border: 2px solid red;
}
.container .text-description{
    padding:20px;
    text-align: justify;
    font-size: 18px;

}
/* Luis Changes */
h1 {
    color: rgb(0, 0, 0);
    font-size:  50px;
    
}

.divserfoto {
    height: 150px;
    width: 40%;
}
.divserdescripcion {
    height: 150px;
    width: 60%;
}